.recipe input.h1 {
    border: none;
    width: 100%;
    font-size: 4.5rem;
    height: 4.5rem;
}

textarea.notes {
    width: 80%;
    height: 6rem;
    margin: 2rem 0;
}

input.info {
    width: 3rem;
    margin-top: 1rem;
}

.recipe-info-header {
    align-self: flex-start;
}

.recipe-info {
    align-self: flex-start;
}

.ingredient-title {
    display: flex;
    align-items: center;
}

.ingredients {
    width: 100%;
}

input.ingredient {
    width: 80%;
    height: 1.5rem;
}

.directions {
    width: 100%;
}
textarea.direction {
    height: 8rem;
    width: 80%;
}