body {
    background-image: url(assets/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire container */
}