.recipe-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.library-top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}

.library-top-bar h1 {
    margin-left: 4rem;
}

.library-top-bar input {
    margin-right: 4rem;
}

.recipe-card {
    width: 250px;
    height: 320px;
    background-color: #e9e9e9;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1.75rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.14)
    
   
}

.recipe-card img {
    width:250px;
    height:250px;
    object-fit:cover;
}

.recipe-card .column-centered {
    flex-grow: 1;

}

.recipe-card h4 {
    font-weight: 500;
    font-size: 1.3rem;
}